*{
    box-sizing: border-box;
}

nav ul {
    padding: 0;
    display: flex;
    text-decoration: none;
    list-style: none;
    justify-content: space-evenly;
}
li a{
    text-decoration: none;
    border: solid #681d40 1px;
    border-radius: 10px;
    padding: 0px 15px;
}
h2,h3,h4{
    font-family:system-ui ;
    color:#681d40;
}
.acteur{
    font-family:system-ui ;
    color:#681d40;

}
p{
    font-family:system-ui ; 
}
