*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-size: 16px;
    font-family: Arial, sans-serif;   
    margin: 0 auto;
    background-color: white;

}
th,td {
    border: 2px solid black;
    justify-content: center;
}
#contenu h1,h2 {
    margin: auto;
    text-decoration-line: underline;
    justify-content: center;
}
table {
    margin: auto;
    border-collapse: collapse;
    justify-content: center;
}
nav ul {
    display: flex;
    text-decoration: none;
    justify-content: space-evenly;
    list-style: none;

}
nav ul li {
    border: solid 2px black;
    padding: 5px;
    border-radius: 10px;

}
nav ul li a{
    cursor: pointer;
}